/*
*index.php
*CSSSfile
*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    text-align: center;
    padding: 20px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .col-md-4{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-md-4{
        width: 90%;
    }
}
@media (min-width: 1200px) {
    .col-md-4{
        width: 80%;
    }
}