/*
*login.php
*CSSSfile
*/
/*
*index.php
*CSSSfile
*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    text-align: center;
    padding: 20px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 520px) {
    .col-md-4{
        width: 500px;
    }
    .form-imgCode{
        left: 100px;
        float: right;
        margin-left: 10px;
    }
}
@media (min-width: 768px) {
    .col-md-4{
        width: 500px;
    }
    .form-imgCode{
        left: 100px;
        float: right;
        margin-left: 10px;
    }
}
@media (min-width: 992px) {
    .col-md-4{
        width: 500px;
    }
    .form-imgCode{
        left: 100px;
        float: right;
        margin-left: 10px;
    }
}
@media (min-width: 1200px) {
    .col-md-4{
        width: 500px;
    }
    .form-imgCode{
        left: 100px;
        float: right;
        margin-left: 10px;
    }
}
@media (max-width: 519px) {
    .form-imgCode{
        left: 100px;
        float: right;
        margin-left: 10px;
    }
}
.form-group {
    margin-bottom: 0px !important;
}