[class*=" icon-"]{
    font-size: 20px;
}
.pager_data{
    position: relative;
    padding: 20px;
    margin: 0 0 15px;
    outline: none;
    transition: all .3s;
    text-align: center;
}
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: nowrap;
}
.table{
    margin-bottom: 0px;
}